#loaderHolder {
    animation: centerRotate 1.6s infinite;
    transform-origin: center;
}
#loaderHolder div {
    position : absolute;
    background-color : var(--lime);
    border-color: black;
    animation: cubePop 1.6s infinite ease-in-out;
}
#topLeft {
    top: 0;
    left : 0;
    border-right : 1px solid   ;
    border-bottom : 1px solid  ; 
}
#topRight {
    top:0;
    right:0;
    border-left : 1px solid   ;
    border-bottom : 1px solid  ;
}
#bottomLeft {
    bottom:0;
    left:0;
    border-right : 1px solid   ;
    border-top : 1px solid  ;
}
#bottomRight {
    bottom:0;
    right:0;
    border-left : 1px solid   ;
    border-top : 1px solid  ;
}

@keyframes centerRotate {
    100%{
        transform: rotate(360deg);
    }
}

#topLeft     { --dx: -50%; --dy: -50%; }
#topRight    { --dx:  50%; --dy: -50%; }
#bottomLeft  { --dx: -50%; --dy:  50%; }
#bottomRight { --dx:  50%; --dy:  50%; }

@keyframes cubePop {
  0% {
    transform: translate(0%, 0%);
  }
  20% {
    transform: translate(0%, 0%);
  }
  25% {
    transform: translate(var(--dx), var(--dy));
  }
  45% {
    transform: translate(var(--dx), var(--dy));
  }
  50% {
    transform: translate(0%, 0%);
  }
  70% {
    transform: translate(0%, 0%);
  }
  75% {
    transform: translate(var(--dx), var(--dy));
  }
  95% {
    transform: translate(var(--dx), var(--dy));
  }
  100% {
    transform: translate(0%, 0%);
  }
}

