@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');

:root {
  --void: #050505;
  --border-grey : #262626;
  --lime : #00FF94;
  --green :rgb(0, 255, 81);
  --half-bg : rgba(0, 0, 0, 0.702);
}

* {
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

/* Basic classes */
.flex-mid {
  display: flex;
  justify-content: center;
  align-items: center;
}
.postion-mid {
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}