#SignUp label {
    transition: all 250ms ease-in-out;
}
#signUpName:focus + label,
#signUpPassword:focus + label {
  top: 0.5rem;
  transform: translateY(0);
  font-size: 0.75rem;
  color: var(--lime);
}
#SignUp .relative:focus-within button {
  border-left: 1px solid var(--lime);
}
#signUpName:not(:placeholder-shown) + label,
#signUpPassword:not(:placeholder-shown) + label {
  top: 0.5rem;
  transform: translateY(0);
  font-size: 0.75rem;
}
#signUpName,
#signUpPassword {
    transition: background-color 250ms ease-in-out,
    outline 250ms ease-in-out;
}
#signUpName:hover,
#signUpPassword:hover {
    background-color: #0b0b0b;
}
#signUpName:focus,
#signUpPassword:focus {
    background-color: #0b0b0b;
    outline-color: var(--lime);
}